<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h1>Notification Form</h1>
                </div>
            </div>

            <form [formGroup]="form" (ngSubmit)="CreateJurisdiction()">
                <div class="row">
                    <div class="col-6">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text" formControlName="firstName" id="name" name="name" aria-describedby="input name">
                        <button *ngIf="clearable" matSuffic mat-icon-button aria-label="clear" (click)="fistName=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="form.get('firstName')?.errors && form.get('firstName')?.dirty">
                            First Name is <strong>required</strong>
                        </mat-error>
                        <!-- <mat-form-field class="example-form-field" appearance="fill">
                        </mat-form-field> -->
                    </div>

                    <div class="col-6">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text" formControlName="lastName" id="name" name="name" aria-describedby="input name">
                        <button *ngIf="clearable" matSuffic mat-icon-button aria-label="clear" (click)="lastName=''">
                            <mat-icon>close</mat-icon>
                        </button>
                        <mat-error *ngIf="form.get('lastName')?.errors && form.get('lastName')?.dirty">
                            Last Name is <strong>required</strong>
                        </mat-error>
                        <!-- <mat-form-field class="example-form-field" appearance="fill">
                        </mat-form-field> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <label>How would you prefer to be notified?</label>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <mat-slide-toggle (click)="updateEmailPreference()">Email</mat-slide-toggle>
                                </div>
                                <div class="row">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" formControlName="email" id="email" name="email" aria-describedby="input email">
                                    <button *ngIf="clearable" matSuffic mat-icon-button aria-label="clear" (click)="email=''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <mat-error *ngIf="emailPreference && form.get('email')?.dirty">
                                        Email is <strong>required</strong>
                                    </mat-error>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <mat-slide-toggle (click)="updatePhoneNumberPreference()">Phone Number</mat-slide-toggle>
                                </div>
                                <div class="row">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput type="text" formControlName="phoneNumber" id="phoneNumber" name="phoneNumber" aria-describedby="input phoneNumber">
                                    <button *ngIf="clearable" matSuffic mat-icon-button aria-label="clear" (click)="phoneNumber=''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <mat-error *ngIf="phoneNumberPreference && form.get('phoneNumber')?.dirty">
                                        Phone Number is <strong>required</strong>
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
